[submodule "ThirdParty/Arch"]
	path = ThirdParty/Arch
	url = https://github.com/AlexisPollonni/Arch.git

[submodule "ThirdParty/Assimp.Net"]
    path = ThirdParty/Assimp.Net
    url = https://github.com/AlexisPollonni/Assimp.Net.git